<a href="https://colab.research.google.com/github/AmiraSharabash/Project_3/blob/main/Project_BANK_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####We brought the data for US Customer bank in 2015 from Kaggle, and we read the data, reprocessed it, and downloaded it using Python codes, and then the analysis via Power BI. At the beginning of all this, our questions about the data were:
####What is the total balance for 2015?
####What is the max balance for 2015?
####What is the min balance for 2015?
####What is the number of customers or the number of accounts for new customers throughout the year?
####What is the gender category throughout the year?
####What is the age category throughout the year?
####What is the Job Classification category throughout the year?
####What is the extent of the performance of the increase in customers who join the bank throughout the year?
####What is the extent of the performance of the increase in the balance of the bank throughout the year?
####How many customers are in each country?
####We found that there is a deviation in the second quarter of the year, in contrast to the first and last quarters, which are in a state of stability... The second quarter throughout the year increased by 52% from April to May and decreased rapidly from May to June by 65%. When we examined the matter, we found that Wales and Ireland showed a decline in the number of clients throughout the year, unlike England and Scotland. Moreover, the rate of disparity in the rise and fall in the second quarter of the year increased by more than England and Scotland.
####We speculated that this might be due to:-
 ####the economy of each country.
####Or the size of the number of branches in each country.
####Or branch employees how they deal with customers in each country.

#Import modules

In [1]:
import pandas as pd

#Read in dataset

In [2]:
bank = pd.read_csv('UK Bank Customers.csv')
bank.head()

,Customer ID,Name,Surname,Gender,Age,Province,Job Classification,Date Joined,Balance
0,100000001,Simon,Walsh,Male,21,England,White Collar,05.Jan.15,113810٫15
1,400000002,Jasmine,Miller,Female,34,Northern Ireland,Blue Collar,06.Jan.15,36919٫73
2,100000003,Liam,Brown,Male,46,England,White Collar,07.Jan.15,101536٫83
3,300000004,Trevor,Parr,Male,32,Wales,White Collar,08.Jan.15,1421٫52
4,100000005,Deirdre,Pullman,Female,38,England,Blue Collar,09.Jan.15,35639٫79

In [3]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4014 entries, 0 to 4013
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         4014 non-null   int64
 1   Name                4014 non-null   object
 2   Surname             4014 non-null   object
 3   Gender              4014 non-null   object
 4   Age                 4014 non-null   int64
 5   Province            4014 non-null   object
 6   Job Classification  4014 non-null   object
 7   Date Joined         4014 non-null   object
 8   Balance             4014 non-null   object
dtypes: int64(2), object(7)
memory usage: 282.4+ KB

#Preprocessing Data

In [4]:
bank['Date Joined']=pd.to_datetime(bank['Date Joined'])
bank['Date Joined']

0      2015-01-05
1      2015-01-06
2      2015-01-07
3      2015-01-08
4      2015-01-09
          ...
4009   2015-12-30
4010   2015-12-30
4011   2015-12-30
4012   2015-12-30
4013   2015-12-30
Name: Date Joined, Length: 4014, dtype: datetime64[ns]

In [5]:
bank["Balance"]=bank["Balance"].replace('٫','.', regex=True)

In [6]:
bank["Balance"]=pd.to_numeric(bank["Balance"], errors='coerce')
bank["Balance"]

0       113810.15
1        36919.73
2       101536.83
3         1421.52
4        35639.79
          ...
4009     19711.66
4010     56069.72
4011     59477.82
4012       239.45
4013     30293.19
Name: Balance, Length: 4014, dtype: float64

In [7]:
def classify(age):
  if age <= 30:
    return 'Youth'
  if age <= 49:
    return 'Middle Aged'
  if age <= 70:
    return 'Old'
  return ''

In [8]:
bank['AgeGroup']= bank.apply(lambda row: classify(row.Age),axis=1)
bank['AgeGroup'].head()

0          Youth
1    Middle Aged
2    Middle Aged
3    Middle Aged
4    Middle Aged
Name: AgeGroup, dtype: object

In [9]:
bank.head()

,Customer ID,Name,Surname,Gender,Age,Province,Job Classification,Date Joined,Balance,AgeGroup
0,100000001,Simon,Walsh,Male,21,England,White Collar,2015-01-05,113810.15,Youth
1,400000002,Jasmine,Miller,Female,34,Northern Ireland,Blue Collar,2015-01-06,36919.73,Middle Aged
2,100000003,Liam,Brown,Male,46,England,White Collar,2015-01-07,101536.83,Middle Aged
3,300000004,Trevor,Parr,Male,32,Wales,White Collar,2015-01-08,1421.52,Middle Aged
4,100000005,Deirdre,Pullman,Female,38,England,Blue Collar,2015-01-09,35639.79,Middle Aged

###New insights from the preprocessed data

In [10]:
bank[['Age','Balance']].describe().round(1)

          Age   Balance
count  4014.0    4014.0
mean     38.6   39766.4
std       9.8   29859.5
min      15.0      11.5
25%      31.0   16115.4
50%      37.0   33567.3
75%      45.0   57533.9
max      64.0  183467.7

#Export Data

In [11]:
from google.colab import files

bank.to_csv('bank.csv')
files.download('bank.csv')